@import "../../app.scss";
.login {
  background-image: linear-gradient(
      to bottom,
      rgb(0, 0, 0, 0) 0%,
      rgb(0, 0, 0, 1) 100%
    ),
    url("https://assets.nflxext.com/ffe/siteui/vlv3/0bd3a69d-6790-4edc-9818-1c8c558946c2/e1a8a32a-a07a-4bae-965a-9b218881763e/IN-en-20220329-popsignuptwoweeks-perspective_alpha_website_large.jpg");
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;

  

  .top {
    .wrapper {
      padding: 20px 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        height: 40px;
      }
    }
  }
  .container {
    color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;

    form {
      width: 300px;
      height: 300px;
      padding: 30px;
      border-radius: 5px;
      display: flex;
      background-color: var(--main-color);
      flex-direction: column;
      justify-content: space-around;
      @include mobile{
        width: 70vw;
      }
      a{
        text-decoration: none;
        color: white;
        &:hover{
          color: white;
        }
      }


      h1 {
        margin: 0px;
        padding-bottom: 10px;
        text-align: center;
      }

      input {
        height: 40px;
        border-radius: 5px;
        background-color: grey;
        color: white;
        padding-left: 10px;

        &::placeholder {
          color: lightgray;
        }
      }
      button {
        height: 40px;
        border-radius: 5px;
        background-color: red;
        color: white;
        border: none;
      }
      span {
        //color: lightgray;
        b {
          color: white;
        }
      }
    }
  }
}
